node_modules
client/dist/bundle.js
client/dist/bundle.js.br
client/dist/bundle.js/gz
database/data.csv
database/dataUUID.csv
database/schema.jsw
database/data1.csv
database/data2.csv
database/data3.csv
database/data4.csv
database/data5.csv
database/data6.csv
database/data7.csv
database/data8.csv
database/data9.csv
database/data10.csv
